<div class="row">
  <ul *ngFor="let emp of emps">


    <div class="card col-sm">
      <div class="card-body">
        <h4 class="card-title"> <strong>Name:</strong>{{emp.firstName}} {{emp.lastName}}</h4>
        <p class="card-text"> <strong>Languages Known: </strong>{{emp.languages}}
        </p>
        <a [routerLink]="['/employee-edit', emp.id]" class="btn btn-primary">Edit</a>
        <button (click)="deleteEmployee(emp.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>





  </ul>
</div>